<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/png" href="./assets/img/favicon.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <title>Q-Patrol</title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
      <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
      <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
      <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
      <link id="pagestyle" href="{{ url_for('static', filename='css/material-dashboard.css') }}"  rel="stylesheet" />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
      <script  type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    </head>
    <style>
        body{
            background-color:#efefef
        }
        a, a:hover{
            color:#333
        } 
    </style>
    <body class="g-sidenav-show  bg-gray-100">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
          <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
            </nav>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-white " href="/home">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10 ">home</i>
                      <span class="nav-link-text ms-1">Home</span>
                    </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " href="/logout">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">logout</i>
                      <span class="nav-link-text ms-1">Sign Out</span>
                    </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>     
        <div class ="mask gradient-custom"></div>  
        <div class="col-md-6 offset-md-3">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Create User</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail3">Nama User</label>
                        <div class="input-group input-group-outline my-3">
                            <input type="text" id="iduser" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3">Nama Lengkap</label>
                        <div class="input-group input-group-outline my-3">
                            <input type="text" id="username" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName">Level User</label>
                        <div class="input-group input-group-outline">
                            <select class="form-control mb-3"  id="jabatan">
                                <option value=""></option>  
                                <option value="1">Inspector</option>
                                <option value="2">Admin</option>
                                <option value="3">Developer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right" onclick="create_user();">Create</button>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </body>
    <!-- <script src="./assets/js/core/bootstrap.min.js" ></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="script.js"></script>
    <script src="./assets/js/material-dashboard.min.js?v=3.0.4"></script> -->
    <!-- password -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/smooth-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/funct.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.colVis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.tableTools.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery-validate/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/masked-input/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
  
    <script>
        $(document).ready(function () {
            $('#iduser').focus();
           
        });
        function create_user(){
            var iduser = $('#iduser').val();
            var username = $('#username').val();
            var jabatan = $('#jabatan').val();
            if (username == ''){
                bootbox.alert('Nama User tidak boleh kosong!!');
                $('#username').focus();
            } else {
                if(jabatan == ''){
                    bootbox.alert('Level User tidak boleh kosong!!');
                    $('#jabatan').focus();
                }else{
                    bootbox.confirm({
                        message: "Simpan User Baru ?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            // console.log('This was logged in the callback: ' + result);
                            if(result){
                            $.ajax({
                                type    : 'POST',
                                url     : '/simpanuser',
                                dataType: 'json',
                                data    : {
                                    'username':username,'jabatan':jabatan,'iduser':iduser
                                },
                                success : function(response){
                                    waitingDialog.hide();
                                    if(response.status=='1'){
                                        $('#iduser').val('');
                                        $('#username').val('');
                                        $('#jabatan').val('');
                                        var msg = "<h6><i class='fa fa-info-circle text-primary'></i>&nbsp;"+response.msg+"</h6>";
                                        var box = bootbox.alert(msg);
                                        box.on('hidden.bs.modal', function(){
                                            $('#iduser').focus();
                                        // show_data_pelanggan();
                                        // Bersikan();
                                        // $('#mPelanggan').modal('hide');
                                        });
                                    }else{
                                        msg_alert_warning(response.msg, '#iduser');
                                    }
                                },
                                error: function(error){
                                    console.log(error);
                                    waitingDialog.hide();
                                    if(error.status == 403){
                                        msg_server_reloading();
                                    }else{
                                        msg_alert_warning('Data gagal diproses !', '#username');
                                    }
                                }
                            })
                            }

                        }
                    });        



                }
                
            }
        }
    </script>
</html>
