.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.874023;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:31.680000px;}
.fs0{font-size:34.560000px;}
.fs2{font-size:57.120000px;}
.y4{bottom:2.193900px;}
.y6{bottom:2.194000px;}
.ya{bottom:2.675500px;}
.y2{bottom:2.675600px;}
.y8{bottom:2.959600px;}
.y2f{bottom:3.055300px;}
.y2c{bottom:3.342300px;}
.y1d{bottom:5.217400px;}
.ye{bottom:5.639100px;}
.y12{bottom:5.639200px;}
.y22{bottom:5.926100px;}
.y1f{bottom:5.926200px;}
.y1a{bottom:9.084300px;}
.yc{bottom:10.688800px;}
.y2a{bottom:10.806800px;}
.y19{bottom:18.845400px;}
.y29{bottom:20.567900px;}
.y0{bottom:39.500000px;}
.y34{bottom:86.015200px;}
.y33{bottom:97.499000px;}
.y32{bottom:120.466500px;}
.y31{bottom:131.950300px;}
.y30{bottom:143.434100px;}
.y2e{bottom:154.917800px;}
.y2d{bottom:166.401600px;}
.y28{bottom:183.627200px;}
.y2b{bottom:195.685200px;}
.y27{bottom:230.710600px;}
.y26{bottom:247.936200px;}
.y25{bottom:265.161800px;}
.y24{bottom:282.387400px;}
.y23{bottom:299.613000px;}
.y21{bottom:316.838700px;}
.y20{bottom:334.064300px;}
.y1e{bottom:351.289900px;}
.y1c{bottom:368.515500px;}
.y18{bottom:385.741100px;}
.y1b{bottom:402.392600px;}
.y17{bottom:423.063300px;}
.y16{bottom:439.714700px;}
.y15{bottom:456.366200px;}
.y14{bottom:473.017600px;}
.y13{bottom:489.669000px;}
.y11{bottom:506.320400px;}
.y10{bottom:522.971900px;}
.yf{bottom:539.623300px;}
.yd{bottom:556.274700px;}
.yb{bottom:582.687300px;}
.y9{bottom:613.693500px;}
.y7{bottom:625.751400px;}
.y5{bottom:640.680300px;}
.y3{bottom:655.609200px;}
.y1{bottom:670.538000px;}
.h12{height:10.983700px;}
.h11{height:10.983800px;}
.h6{height:11.557900px;}
.h4{height:14.428800px;}
.h2{height:14.428900px;}
.ha{height:16.151400px;}
.h9{height:16.151500px;}
.hd{height:16.725600px;}
.hf{height:16.725700px;}
.h5{height:23.063906px;}
.hb{height:23.094844px;}
.h3{height:25.093125px;}
.he{height:25.160625px;}
.h7{height:30.506200px;}
.hc{height:32.802900px;}
.h10{height:36.248000px;}
.h8{height:41.473359px;}
.h1{height:646.000000px;}
.h0{height:713.563400px;}
.w8{width:6.357600px;}
.w11{width:20.073000px;}
.wf{width:20.696400px;}
.wb{width:21.319900px;}
.w18{width:24.436900px;}
.w15{width:24.437000px;}
.w10{width:49.373900px;}
.w1a{width:51.867600px;}
.w1e{width:57.478400px;}
.w17{width:58.101800px;}
.w1b{width:58.725200px;}
.wd{width:74.310900px;}
.w4{width:79.921600px;}
.w19{width:79.921700px;}
.w14{width:83.038800px;}
.wa{width:85.532400px;}
.w16{width:101.741500px;}
.w1c{width:104.858600px;}
.w1d{width:111.092900px;}
.w20{width:116.080200px;}
.w12{width:126.678400px;}
.w7{width:126.678500px;}
.w2{width:129.795500px;}
.w9{width:132.289300px;}
.w1f{width:133.536100px;}
.wc{width:175.928900px;}
.w5{width:197.748800px;}
.we{width:218.321700px;}
.w3{width:241.388400px;}
.w13{width:416.570500px;}
.w6{width:550.606600px;}
.w1{width:552.000000px;}
.w0{width:607.799600px;}
.xe{left:0.073700px;}
.x2{left:1.581200px;}
.x16{left:5.415300px;}
.xa{left:7.706900px;}
.x8{left:9.341300px;}
.x15{left:13.052700px;}
.x0{left:28.000000px;}
.x10{left:30.990200px;}
.xf{left:36.265000px;}
.x14{left:38.689800px;}
.x13{left:40.894100px;}
.x12{left:53.533500px;}
.x17{left:78.470400px;}
.x1{left:103.407400px;}
.x5{left:155.775000px;}
.x6{left:162.632600px;}
.xb{left:183.829000px;}
.x4{left:187.245600px;}
.xc{left:233.702900px;}
.x11{left:240.502800px;}
.xd{left:254.275900px;}
.x7{left:295.421900px;}
.x18{left:345.295800px;}
.x3{left:381.454300px;}
.x9{left:403.274200px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:42.240000pt;}
.fs0{font-size:46.080000pt;}
.fs2{font-size:76.160000pt;}
.y4{bottom:2.925200pt;}
.y6{bottom:2.925333pt;}
.ya{bottom:3.567333pt;}
.y2{bottom:3.567467pt;}
.y8{bottom:3.946133pt;}
.y2f{bottom:4.073733pt;}
.y2c{bottom:4.456400pt;}
.y1d{bottom:6.956533pt;}
.ye{bottom:7.518800pt;}
.y12{bottom:7.518933pt;}
.y22{bottom:7.901467pt;}
.y1f{bottom:7.901600pt;}
.y1a{bottom:12.112400pt;}
.yc{bottom:14.251733pt;}
.y2a{bottom:14.409067pt;}
.y19{bottom:25.127200pt;}
.y29{bottom:27.423867pt;}
.y0{bottom:52.666667pt;}
.y34{bottom:114.686933pt;}
.y33{bottom:129.998667pt;}
.y32{bottom:160.622000pt;}
.y31{bottom:175.933733pt;}
.y30{bottom:191.245467pt;}
.y2e{bottom:206.557067pt;}
.y2d{bottom:221.868800pt;}
.y28{bottom:244.836267pt;}
.y2b{bottom:260.913600pt;}
.y27{bottom:307.614133pt;}
.y26{bottom:330.581600pt;}
.y25{bottom:353.549067pt;}
.y24{bottom:376.516533pt;}
.y23{bottom:399.484000pt;}
.y21{bottom:422.451600pt;}
.y20{bottom:445.419067pt;}
.y1e{bottom:468.386533pt;}
.y1c{bottom:491.354000pt;}
.y18{bottom:514.321467pt;}
.y1b{bottom:536.523467pt;}
.y17{bottom:564.084400pt;}
.y16{bottom:586.286267pt;}
.y15{bottom:608.488267pt;}
.y14{bottom:630.690133pt;}
.y13{bottom:652.892000pt;}
.y11{bottom:675.093867pt;}
.y10{bottom:697.295867pt;}
.yf{bottom:719.497733pt;}
.yd{bottom:741.699600pt;}
.yb{bottom:776.916400pt;}
.y9{bottom:818.258000pt;}
.y7{bottom:834.335200pt;}
.y5{bottom:854.240400pt;}
.y3{bottom:874.145600pt;}
.y1{bottom:894.050667pt;}
.h12{height:14.644933pt;}
.h11{height:14.645067pt;}
.h6{height:15.410533pt;}
.h4{height:19.238400pt;}
.h2{height:19.238533pt;}
.ha{height:21.535200pt;}
.h9{height:21.535333pt;}
.hd{height:22.300800pt;}
.hf{height:22.300933pt;}
.h5{height:30.751875pt;}
.hb{height:30.793125pt;}
.h3{height:33.457500pt;}
.he{height:33.547500pt;}
.h7{height:40.674933pt;}
.hc{height:43.737200pt;}
.h10{height:48.330667pt;}
.h8{height:55.297812pt;}
.h1{height:861.333333pt;}
.h0{height:951.417867pt;}
.w8{width:8.476800pt;}
.w11{width:26.764000pt;}
.wf{width:27.595200pt;}
.wb{width:28.426533pt;}
.w18{width:32.582533pt;}
.w15{width:32.582667pt;}
.w10{width:65.831867pt;}
.w1a{width:69.156800pt;}
.w1e{width:76.637867pt;}
.w17{width:77.469067pt;}
.w1b{width:78.300267pt;}
.wd{width:99.081200pt;}
.w4{width:106.562133pt;}
.w19{width:106.562267pt;}
.w14{width:110.718400pt;}
.wa{width:114.043200pt;}
.w16{width:135.655333pt;}
.w1c{width:139.811467pt;}
.w1d{width:148.123867pt;}
.w20{width:154.773600pt;}
.w12{width:168.904533pt;}
.w7{width:168.904667pt;}
.w2{width:173.060667pt;}
.w9{width:176.385733pt;}
.w1f{width:178.048133pt;}
.wc{width:234.571867pt;}
.w5{width:263.665067pt;}
.we{width:291.095600pt;}
.w3{width:321.851200pt;}
.w13{width:555.427333pt;}
.w6{width:734.142133pt;}
.w1{width:736.000000pt;}
.w0{width:810.399467pt;}
.xe{left:0.098267pt;}
.x2{left:2.108267pt;}
.x16{left:7.220400pt;}
.xa{left:10.275867pt;}
.x8{left:12.455067pt;}
.x15{left:17.403600pt;}
.x0{left:37.333333pt;}
.x10{left:41.320267pt;}
.xf{left:48.353333pt;}
.x14{left:51.586400pt;}
.x13{left:54.525467pt;}
.x12{left:71.378000pt;}
.x17{left:104.627200pt;}
.x1{left:137.876533pt;}
.x5{left:207.700000pt;}
.x6{left:216.843467pt;}
.xb{left:245.105333pt;}
.x4{left:249.660800pt;}
.xc{left:311.603867pt;}
.x11{left:320.670400pt;}
.xd{left:339.034533pt;}
.x7{left:393.895867pt;}
.x18{left:460.394400pt;}
.x3{left:508.605733pt;}
.x9{left:537.698933pt;}
}
