<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }} ">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/cj logo 2.png') }} ">
  <title>Q-Patrol</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <link id="pagestyle" href="{{ url_for('static', filename='css/nucleo-icons.css') }}"  rel="stylesheet" />
  <link id="pagestyle" href="{{ url_for('static', filename='css/nucleo-svg.css') }}"  rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="{{ url_for('static', filename='css/material-dashboard.css') }}"  rel="stylesheet" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/jquery.flexdatalist.css') }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/jquery.flexdatalist.min.css') }}">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/rowGroup.bootstrap.min.css') }}">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"> -->

</head>
<body class="g-sidenav-show  bg-gray-100">
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav"> 
      <li class="nav-item">
        <a class="nav-link text-white active bg-gradient-primary" href="/home">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">      
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <div><i class="material-icons opacity-10">manage_history
          </i></div>
          <div class="sb-sidenav-collapse-arrow"></div>
          <span class="nav-link-text ms-3">Manage Question</span>
        </a>    
      </li>
      <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <li class="nav-item"> 
                <ul class="nested">
                    <a class="nav-link" href="create.html">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">note_add</i>
                        </div>
                      </a>
                      <span class="nav-link-text ms-1">Search Question</span>
                </ul>
            </li> 
        </nav>
      </div> 
      <ul class="navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link text-white " href="start.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">start</i>
            </div>
            <span class="nav-link-text ms-1">Start New Patrol</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav"> 
          <li class="nav-item">
            <a class="nav-link text-white " href="continue.html">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">arrow_right</i>
              </div>
              <span class="nav-link-text ms-1">Continue unfinished</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
              <div><i class="material-icons opacity-10">reviews</i></div>
              <div class="sb-sidenav-collapse-arrow"></div>
              <span class="nav-link-text ms-3">Review Patrol</span>
            </a>    
          </li>
          <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion">
                  <li class="nav-item"> 
                      <ul class="nested">
                          <a class="nav-link" href="view_patrol.html">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                  <i class="material-icons opacity-10">preview</i>
                              </div>
                              <span class="nav-link-text ms-1">View Patrol detail</span>
                          </a>
                      </ul>
                  </li> 
                  <li class="nav-item"> 
                      <ul class="nested">
                          <a class="nav-link" href="revise.html">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                  <i class="material-icons opacity-10">article</i>
                              </div>
                              <span class="nav-link-text ms-1">Revise Patrol result</span>
                          </a>
                      </ul>
                  </li> 
              </nav>
          </div>
      </ul>
    </ul>
  </div>
  <!--batas menu  -->
  <main class="main-content border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          </ol>
        </nav>
        <ul class="navbar-nav  justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-white " href="/home">
              
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10 ">home</i>
                  <span class="nav-link-text ms-1">Home</span>
                </div>  
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/logout">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">logout</i>
                  <span class="nav-link-text ms-1">Sign Out</span>
                </div>
            </a>
          </li>
            
        </ul>
      </div>
    </nav>
    <div class ="mask gradient-custom"></div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="card">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card-header p-3 pt-2">
            </div> 
        </div>
        <div class="text-end pt-0">
          <p> <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#ModalPertanyaan" type="button">Create new question</button></p> 
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-static mb">
                  <label  class="ms-0">Induk</label>
                  <select class="form-control" onchange="caripoint2();" id="cnminduk">
                  </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-static mb-3">
                  <label for="exampleFormControlSelect1" class="ms-0">Point</label>
                  <select class="form-control" id="cnmpoint">
                  </select>
              </div>
            </div>
         
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">Pertanyaan</label>
              <div class="input-group input-group-static my-3">
                <input type="pertanyaan" class="form-control" id="cpertanyaan">
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Std. Jawaban</label>
              <div class="input-group input-group-static my-3" id="cstdpertanyaan">
                <input type="std" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-info" onclick="show_pertanyaan();" type="button">Search</button>
          </div>
          <div class="modal fade"  data-bs-backdrop="static" id="ModalPertanyaan" tabindex="-1" aria-labelledby="ModalPertanyaanLabel" aria-hidden="false">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalPertanyaanLabel">Add new Question</h5>
                      </div>
                      <div class="modal-body">
                      <!-- <div class="input-group input-group-outline my-3"> -->
                            <div class="row">
                              <div class="col-md-6">
                                <label class="form-label">Induk</label>
                                <div class="input-group input-group-outline my-3">
                                  
                                  <select  onchange="caripoint();" class="form-control" id="nminduk">
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="form-label">Nama Point</label>
                                <div class="input-group input-group-outline my-3">
                                  <select class="form-control" id="nmpoint">
                                  </select>
                                </div>
                              </div>
                              <label for="message-text" class="col-form-label">Pertanyaan:</label>
                              <div class="input-group input-group-dynamic">
                                <textarea class="form-control" rows="2" placeholder="Isi Pertanyaan" spellcheck="false" id="pertanyaan"></textarea>
                              </div>
                              <label for="message-text" class="col-form-label">Standar Jawaban:</label>
                              <div class="input-group input-group-dynamic">
                                <textarea class="form-control" rows="2" placeholder="Isi Jawaban" spellcheck="false" id="jawaban"></textarea>
                              </div>
                              <div class="input-group input-group-static my-3">
                                <label>Effective From :</label>
                                <input type="date" id="datefrom" class="form-control" >
                              </div>
                              <div class="input-group input-group-static my-3">
                                <label>Effective To :</label>
                                <input type="date" id="dateto" class="form-control">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" onclick="simpandata();">Save</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Batas Input -->
          <div class="modal fade"  data-bs-backdrop="static" id="ModalEditPertanyaan" tabindex="-1" aria-labelledby="ModalPertanyaanLabel" aria-hidden="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalEditPertanyaanLabel">Edit Question</h5>
                    </div>
                    <div class="modal-body">
                    <!-- <div class="input-group input-group-outline my-3"> -->
                          <div class="row">
                            <div class="col-md-6">
                              <label class="form-label">Induk</label>
                              <div class="input-group input-group-outline my-3">
                                <input type="hidden" id="eidpertanyaan" class="form-control" readonly >
                                <input type="text" id="enminduk" class="form-control" readonly >
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label class="form-label">Nama Point</label>
                              <div class="input-group input-group-outline my-3">
                                <input type="text" id="enmpoint" class="form-control" readonly >
                              </div>
                            </div>
                            <label for="message-text" class="col-form-label">Pertanyaan:</label>
                            <div class="input-group input-group-dynamic">
                              <textarea class="form-control" rows="2" placeholder="Isi Pertanyaan" spellcheck="false" id="epertanyaan"></textarea>
                            </div>
                            <label for="message-text" class="col-form-label">Standar Jawaban:</label>
                            <div class="input-group input-group-dynamic">
                              <textarea class="form-control" rows="2" placeholder="Isi Jawaban" spellcheck="false" id="ejawaban"></textarea>
                            </div>
                            <div class="input-group input-group-static my-3">
                              <label>Effective From :</label>
                              <input type="date" id="edatefrom" class="form-control" >
                            </div>
                            <div class="input-group input-group-static my-3">
                              <label>Effective To :</label>
                              <input type="date" id="edateto" class="form-control">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="editdata();">Edit</button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Batas Edit -->
        </div>
        <div class="container-fluid py-4">
           <div class="row">
                <div class="col-12">
                      <div class="card my-4  ">
                        <div class="shadow-lg p-3 mb-5 bg-white rounded">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2" >
                              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                  <h6 class="text-white text-capitalize ps-3">Manage Question Table</h6>
                              </div>
                            </div>
                            <div class="card-body px-0 pb-2">
                              <div class="table-responsive p-0" >
                                  <table id='tabelpertanyaan' class="table align-items-center mb-0" >
                                      <thead>
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-12" >ID</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-12 ps-2" >Induk</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-12" data-hide="phone, tablet">Point</th>
                                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-12" data-hide="phone, tablet" >Pertanyaan</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-12 ps-2" data-hide="phone, tablet">Std. Jawaban</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-12 ps-2" data-hide="phone, tablet">Eff. From</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-12 ps-2">Eff. To</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-12">Act.</th>
                                        </tr>
                                      </thead>
                                      <!-- <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1"> 
                                                  <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">1</h6>
                                                  </div>
                                                </div>
                                            </td>
                                            <td>
                                              <p class="text-xs font-weight-bold mb-0">Printing</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="text-xs font-weight-bold mb-0">Document Acuan Kerja-Pra Cetak</p>
                                            </td>
                                            <td class="align-middle text-center">
                                              <span class="text-secondary text-xs font-weight-bold">Apa saja verifikasi yang dilakukan pada saat preparation document Tooling?				</span>
                                            </td>
                                            <td class="align-middle text-center">
                                              <span class="text-secondary text-xs font-weight-bold">- Form Pre-Setup
                                              - Dokumen Job Folder			</span>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                              <p class="text-xs font-weight-bold mb-0">21/10/2022</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                              <p class="text-xs font-weight-bold mb-0">24/10/2022</p>
                                            </td>
                                            <td class="align-middle">
                                              <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                              </a>
                                            </td>
                                        </tr>
                                      </tbody> -->
                                  </table>
                              </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </main>
  <!-- batas isi -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/smooth-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/funct.js') }}"></script>
  <script src="{{ url_for('static', filename='js/create.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.colVis.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.tableTools.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/pace/pace.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/jquery-validate/jquery.validate.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/masked-input/jquery.maskedinput.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>

  <script>

    $(document).ready(function(){
      $("#myBtn").click(function(){
          $("#myModal").modal({backdrop: true});
      });
      $("#myBtn2").click(function(){
          $("#examplemodal").modal({backdrop: false});
      });
      cariinduk();
      caripoint();
    });

    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })

    toggle.addEventListener("click" , () =>{
        sidebar.classList.toggle("close");
    })

  </script>
  <script>
    function simpandata(){
      var xinduk = $('#nminduk').val(),xpoint = $('#nmpoint').val(),xpertanyaan=$('#pertanyaan').val()
          ,xjawaban=$('#jawaban').val(),xdatefrom=$('#datefrom').val(),xdateto=$('#dateto').val();
      if (xpoint==null){
        bootbox.alert({
            message: "Indux Pertanyaan Harus dipilih",
            className: 'rubberBand animated'
        });
      }else if(xjawaban == ""){
        bootbox.alert({
            message: "Standar Jawaban harus diisi",
            className: 'rubberBand animated'
        });
      }else if(xpertanyaan == ""){
        bootbox.alert({
            message: "Pertanyaan Harus diisi",
            className: 'rubberBand animated'
        });
      }else{
        bootbox.confirm({
            message: "Simpan data pertanyaan?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                // console.log('This was logged in the callback: ' + result);
                if(result){
                  $.ajax({
                      type    : 'POST',
                      url     : '/simpanpertanyaan',
                      dataType: 'json',
                      data    : {
                        'induk':xinduk,'point':xpoint,'pertanyaan':xpertanyaan,'jawaban':xjawaban,'datefrom':xdatefrom,'dateto':xdateto
                      },
                      success : function(response){
                        waitingDialog.hide();
                        if(response.status=='1'){
                            $('#pertanyaan').val('');
                            $('#jawaban').val('');
                            $('#nmiduk').focus();
                            var msg = "<h6><i class='fa fa-info-circle text-primary'></i>&nbsp;"+response.msg+"</h6>";
                            var box = bootbox.alert(msg);
                            box.on('hidden.bs.modal', function(){
                              // show_data_pelanggan();
                              // Bersikan();
                              // $('#mPelanggan').modal('hide');
                            });
                        }else{
                            msg_alert_warning(response.msg, '#nmsp');
                        }
                      },
                      error: function(error){
                        console.log(error);
                        waitingDialog.hide();
                        if(error.status == 403){
                            msg_server_reloading();
                        }else{
                            msg_alert_warning('Data gagal diproses !', '#nmsp');
                        }
                      }
                  })
                }

            }
        });        
      }
      
    };
    function editdata(){
      var xidpertanyaan = $('#eidpertanyaan').val(),xpertanyaan=$('#epertanyaan').val()
          ,xjawaban=$('#ejawaban').val(),xdatefrom=$('#edatefrom').val(),xdateto=$('#edateto').val();
      if(xjawaban == ""){
        bootbox.alert({
            message: "Standar Jawaban harus diisi",
            className: 'rubberBand animated'
        });
      }else if(xpertanyaan == ""){
        bootbox.alert({
            message: "Pertanyaan Harus diisi",
            className: 'rubberBand animated'
        });
      }else{
        bootbox.confirm({
            message: "Simpan data pertanyaan?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                // console.log('This was logged in the callback: ' + result);
                if(result){
                  $.ajax({
                      type    : 'POST',
                      url     : '/editpertanyaan',
                      dataType: 'json',
                      data    : {
                        'idpertanyaan':xidpertanyaan,'pertanyaan':xpertanyaan,'jawaban':xjawaban,'datefrom':xdatefrom,'dateto':xdateto
                      },
                      success : function(response){
                        waitingDialog.hide();
                        if(response.status=='1'){
                            $('#epertanyaan').val('');
                            $('#ejawaban').val('');
                            $('#enmiduk').focus();
                            var msg = "<h6><i class='fa fa-info-circle text-primary'></i>&nbsp;"+response.msg+"</h6>";
                            var box = bootbox.alert(msg);
                            $('#ModalEditPertanyaan').modal('hide');
                            $('#tabelpertanyaan').DataTable().ajax.reload();
                        }else{
                            msg_alert_warning(response.msg, '#nmsp');
                        }
                      },
                      error: function(error){
                        console.log(error);
                        waitingDialog.hide();
                        if(error.status == 403){
                            msg_server_reloading();
                        }else{
                            msg_alert_warning('Data gagal diproses !', '#nmsp');
                        }
                      }
                  })
                }

            }
        });        
      }
      
    };

    function show_pertanyaan(){
      var cnminduk = $('#cnminduk').val(),cnmpoint = $('#cnmpoint').val();
      var pertanyaan=$('#cpertanyaan').val(),jawaban=$('#cjawaban').val();
      var table = $('#tabelpertanyaan').DataTable({
        "ajax":{
             "url":"/viewpertanyaan",
             "data": function(d){
                    d.induk = cnminduk,d.point=cnmpoint,d.pertanyaan=pertanyaan,jawaban=jawaban;
              },

             "error": function(){
                msg_server_reloading();
             }
          },
          // ({'id_pertanyaan':id_pertanyaan,'nminduk':nminduk,'nmpoint':nmpoint,'pertanyaan':pertanyaan,'std_jawaban':std_jawaban,'eff_from':eff_from,'eff_to':eff_to})
          "columns":[
             {"data": "id_pertanyaan", "className":"align-middle text-center text-sm","width":"5%",  "targets":"0"},
             {"data": "nminduk","className":"align-middle text-left text-sm", "targets":"1"},
             {"data": "nmpoint", "className":"align-middle text-left text-sm text-wrap","targets":"2"},
             {"data": "pertanyaan",  "className":"align-middle text-left text-sm text-wrap","targets":"3"},
             {"data": "std_jawaban","className":"align-middle text-left text-sm text-wrap","targets":"4"},
             {"data": "eff_from","className":"align-middle text-center text-sm", "targets":"5"},
             {"data": "eff_to", "className":"align-middle text-center text-sm","targets":"6"},
             {"data": null, "orderable": false, "className":"text-center", "width":"5%", "targets":"7",
                "render":function(data){
                  // return '<button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#ModalEditPertanyaan" type="button">Edit</button>'
                   return '<button id="bDetil" data-toggle="tooltip" data-placement="left"  data-original-title="Detil" style="background:initial;border:none;" >'+
                         '<i class="fa fa-edit txt-color-blue"></i>'+
                         '</button>';
                }
             }
          ],
          "destroy": true,
          "deferRender": true,
          "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>"+
             "t"+
             "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
          "oLanguage": {
             "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>',
             "sInfo": "Total : _TOTAL_ Data",
             "sInfoEmpty":"Total : _MAX_ data",
             "sInfoFiltered":"",
             "sLengthMenu": "_MENU_",
             "sZeroRecords": "<strong class='text-danger'><i class='fa fa-warning'></i> Data tidak ditemukan !</strong>",
             "sLoadingRecords": "<strong><i class='fa fa-spinner fa-spin'></i> Memuat data ...</strong>",
             "sEmptyTable": "<strong class='text-danger'><i class='fa fa-warning'></i> Tidak ada data !</strong>",
             "oPaginate": {
                "sNext":">",
                "sPrevious":"<"
             }
          },
          "order": [0, "asc"],
          // // "sScrollY": auto_height_table('#showklasifikasipsn'),
          "autoWidth" : false,
          "responsive": true,
          "ordering": false,
          "lengthChange": true,
          

      });
      $('#tabelpertanyaan tbody').on( 'click', 'button', function(){
          var data = table.row($(this).closest('tr')).data();
          if(this.id=='bDetil'){
            $('#eidpertanyaan').val(data.id_pertanyaan);
            $('#enminduk').val(data.nminduk);
            $('#enmpoint').val(data.nmpoint);
            $('#epertanyaan').val(data.pertanyaan);
            $('#ejawaban').val(data.std_jawaban);
            $('#ModalEditPertanyaan').modal('show'); 
          }else if(this.id=='bPrint'){
            //  window.open("/cetakpemasok/" +data.kdsp,"Cetak Form Verifikasi Pemasok","dialog=yes","scrollbars=yes");
          }
       });

    }
  </script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/material-dashboard.min.js') }}"></script>
</body>

</html>
