<!DOCTYPE html>
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/tolakterima/base.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/tolakterima/fancy.min.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/tolakterima/main.css') }}">
    <script src="{{ url_for('static', filename='js/tolakterima/compatibility.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tolakterima/theViewer.min.js') }}"></script>
    <script>
        try{
        theViewer.defaultViewer = new theViewer.Viewer({});
        }catch(e){}
    </script>
    <title></title>
</head>
<body>
    <div id="sidebar"><div id="outline"></div></div>
    <div id="page-container">
        <div id="pf1" class="pf w0 h0" data-page-no="1">
            <div class="pc pc1 w0 h0"><img class="bi x0 y0 w1 h1" alt="" src="{{ url_for('static', filename='img/tolakterima/bg1.png') }}"/>
                <div class="c x1 y1 w2 h2">
                    <div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">PT. KREASI USAHA CIPTA UTAMA</div>
                </div>
                <div class="c x1 y3 w3 h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">Jl. Raya Ciangsana No. 4111 Gunung Putri - Bogor 16968</div>
                </div>
                <div class="c x1 y5 w2 h5">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Telp. (021) 82492303</div>
                </div>
                <div class="c x1 y6 w3 h6">
                    <div class="t m0 x2 h4 y7 ff2 fs0 fc0 sc0 ls0 ws0">No. Sertifikat Distribusi Farmasi : FP.01.04/IV/0117/2019</div>
                </div>
                <div class="c x3 y6 w4 h6">
                    <div class="t m0 x2 h4 y7 ff2 fs0 fc0 sc0 ls0 ws0">Form/WHS-001/002/2020</div>
                </div>
                <div class="c x0 y8 w5 h7">
                    <div class="t m0 x4 h8 y9 ff1 fs1 fc0 sc0 ls0 ws0">BERITA ACARA PENOLAKAN OBAT</div>
                </div>
                <div class="c x0 ya w6 h2">
                    <div class="t m0 x2 h3 y4 ff1 fs0 fc0 sc0 ls0 ws0">Kepada Yth. </div>
                </div>
                <div class="c x0 yb w6 h5">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">    Nama Pemasok </div>
                </div>
                <div class="c x1 yb w7 h5">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x5 yb w8 h5">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{nmsp}}</div>
                </div>
                <div class="c x0 yc w6 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">    Alamat Pemasok</div>
                </div>
                <div class="c x1 yc w7 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x5 yc w8 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{alamat}}</div>
                </div>
                <div class="c x5 yd w8 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{alamat2}}</div>
                </div>
                <div class="c x0 ye w9 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0"><b>Telah terjadi kerusakaan / pecah / hilang / kekurangan pada : </b></div>
                </div>
                <div class="c x0 yf w6 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Tanggal Kirim Obat</div>
                </div>
                <div class="c x1 yf w7 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x5 yf wa h2">
                    <div class="t m0 x2 h3 y2 ff1 fs0 fc0 sc0 ls0 ws0">{{tglkirim}}</div>
                </div>
                <div class="c x6 yf wb h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Pengirim</div>
                </div>
                <div class="c x3 yf w7 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x7 yf wc h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{saksi}}</div>
                </div>
                <div class="c x0 y10 w6 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">No. Faktur / SPB</div>
                </div>
                <div class="c x1 y10 w7 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x5 y10 wa h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{nofaktur}}</div>
                </div>
                <div class="c x6 y10 w6 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Nama Supir</div>
                </div>
                <div class="c x3 y10 w7 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x7 y10 wc h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{sopir}}</div>
                </div>
                <div class="c x0 y11 w6 h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">No. SP Referensi</div>
                </div>
                <div class="c x1 y11 w7 h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x5 y11 wa h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">{{nosp}}</div>
                </div>
                <div class="c x6 y11 w6 h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">No. Kendaraan</div>
                </div>
                <div class="c x3 y11 w7 h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">:</div>
                </div>
                <div class="c x7 y11 wc h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">{{nopol}}</div>
                </div>
                <div class="c x0 y12 wd h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0"><b>Berikut ini rincian obat yang mengalami kerusakaan / pecah / hilang / kekurangan :</b></div>
                </div>
                <div class="c x0 y13 wb h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">No.</div>
                </div>
                <div class="c x8 y13 we h2">
                    <div class="t m0 x9 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Nama Obat</div>
                </div>
                <div class="c xa y13 wf h2">
                    <div class="t m0 xb h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Jumlah</div>
                </div>
                <div class="c x6 y13 w10 h2">
                    <div class="t m0 xc h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Keterangan</div>
                </div>
                {% for kd_obat,nm_obat,qty,xalasan in isidata %}
                <div class="c x0 y14 wb h2">
                        <div class="t m0 xd h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">1</div>
                    </div>
                    <div class="c x8 y14 we h2">
                        <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{nm_obat}}</div>
                    </div>
                    <div class="c xa y14 wf h2">
                        <div class="t m0 x0 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{qty}}</div>
                    </div>
                    <div class="c x6 y14 w10 h2">
                        <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">{{xalasan}} </div>
                    </div>

                {% endfor %}
                <div class="c x0 y15 wb h2">
                    <div class="t m0 xd h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">2</div>
                </div>
                <div class="c x8 y15 we h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Amoxsan 500 Mg</div>
                </div>
                <div class="c xa y15 wf h2">
                    <div class="t m0 xe h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">23</div>
                </div>
                <div class="c x6 y15 w10 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Pecah</div>
                </div>
                <div class="c x0 y16 wb h5">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Catatan :</div>
                </div>
                <div class="c x0 y17 w5 h9">
                    <div class="t m0 x2 h4 y18 ff2 fs0 fc0 sc0 ls0 ws0"><b>Demikian Berita Acara Penolakan ini kami buat untuk dipergunakan sebagaimana mestinya, atas perhatian dan kerjasamanya kami</b></div>
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0"><b>ucapkan terima kasih.</b></div>
                </div>
                <div class="c xf y19 w11 h2">
                    <div class="t m0 x10 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Bogor , 12 November 2020</div>
                </div>
                <div class="c x11 y1a w12 h2">
                    <div class="t m0 x2 h4 y4 ff2 fs0 fc0 sc0 ls0 ws0">Hormat kami,</div>
                </div>
                <div class="c x11 y1b w12 h5">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">Apoteker Penanggung Jawab</div>
                </div>
                <div class="c x11 y1c w12 ha">
                    <div class="t m0 x2 h4 y1d ff2 fs0 fc0 sc0 ls0 ws0">(Tanda tangan &amp; Stempel)</div>
                </div>
                <div class="c x11 y1e w12 h2">
                    <div class="t m0 x2 hb y2 ff3 fs0 fc0 sc0 ls0 ws0">Apt. Rusvaira Khairunnisa., S.Farm </div>
                </div>
                <div class="c x11 y1f w12 h2">
                    <div class="t m0 x2 h4 y2 ff2 fs0 fc0 sc0 ls0 ws0">No. SIPA</div>
                </div>
            </div>
            <div class="pi" data-data='{"ctm":[1.000000,0.000000,0.000000,1.000000,0.000000,0.000000]}'></div>
        </div>
    </div>
    <div class="loading-indicator"></div>
</body>
</html>
