.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:37.440000px;}
.fs1{font-size:47.520000px;}
.y4{bottom:2.921200px;}
.y2{bottom:2.921300px;}
.y9{bottom:3.232900px;}
.y7{bottom:3.752400px;}
.yb{bottom:9.785400px;}
.y1c{bottom:28.596600px;}
.y1b{bottom:41.065000px;}
.y0{bottom:41.500000px;}
.y1a{bottom:128.344100px;}
.y19{bottom:140.812600px;}
.y18{bottom:165.749500px;}
.y17{bottom:203.154800px;}
.y16{bottom:215.623200px;}
.y15{bottom:228.091700px;}
.y14{bottom:240.560100px;}
.y13{bottom:253.028600px;}
.y12{bottom:265.497100px;}
.y11{bottom:277.965500px;}
.y10{bottom:290.434000px;}
.yf{bottom:302.902400px;}
.ye{bottom:328.462800px;}
.yd{bottom:354.023100px;}
.yc{bottom:366.491600px;}
.ya{bottom:391.428500px;}
.y8{bottom:419.482500px;}
.y6{bottom:432.574400px;}
.y5{bottom:445.666200px;}
.y3{bottom:458.134700px;}
.y1{bottom:470.603100px;}
.h4{height:11.968400px;}
.h2{height:11.968500px;}
.h6{height:12.591800px;}
.h7{height:12.591900px;}
.h3{height:25.447500px;}
.ha{height:25.465781px;}
.h5{height:26.873438px;}
.h8{height:27.554000px;}
.h9{height:32.298750px;}
.h1{height:439.500000px;}
.h0{height:511.168100px;}
.we{width:15.438500px;}
.wb{width:16.102600px;}
.w8{width:20.087300px;}
.w13{width:36.025800px;}
.w12{width:42.666800px;}
.w11{width:59.269500px;}
.wa{width:73.215700px;}
.wf{width:74.543800px;}
.w14{width:89.818300px;}
.w7{width:95.795200px;}
.wc{width:116.382500px;}
.w4{width:127.008200px;}
.w9{width:133.649200px;}
.w2{width:138.298000px;}
.w5{width:195.411100px;}
.w10{width:212.013700px;}
.w3{width:217.326500px;}
.wd{width:239.906000px;}
.w6{width:552.699600px;}
.w1{width:554.000000px;}
.w0{width:609.892500px;}
.x2{left:1.635500px;}
.xe{left:5.063900px;}
.xa{left:6.799100px;}
.x6{left:8.791400px;}
.x0{left:28.000000px;}
.xb{left:29.635900px;}
.xd{left:70.809200px;}
.x4{left:98.269500px;}
.xc{left:108.726100px;}
.x1{left:124.891700px;}
.x7{left:145.479000px;}
.x5{left:173.008900px;}
.xf{left:177.356100px;}
.x11{left:252.399900px;}
.x10{left:263.689700px;}
.x8{left:295.566700px;}
.x9{left:369.282400px;}
.x3{left:385.885000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:49.920000pt;}
.fs1{font-size:63.360000pt;}
.y4{bottom:3.894933pt;}
.y2{bottom:3.895067pt;}
.y9{bottom:4.310533pt;}
.y7{bottom:5.003200pt;}
.yb{bottom:13.047200pt;}
.y1c{bottom:38.128800pt;}
.y1b{bottom:54.753333pt;}
.y0{bottom:55.333333pt;}
.y1a{bottom:171.125467pt;}
.y19{bottom:187.750133pt;}
.y18{bottom:220.999333pt;}
.y17{bottom:270.873067pt;}
.y16{bottom:287.497600pt;}
.y15{bottom:304.122267pt;}
.y14{bottom:320.746800pt;}
.y13{bottom:337.371467pt;}
.y12{bottom:353.996133pt;}
.y11{bottom:370.620667pt;}
.y10{bottom:387.245333pt;}
.yf{bottom:403.869867pt;}
.ye{bottom:437.950400pt;}
.yd{bottom:472.030800pt;}
.yc{bottom:488.655467pt;}
.ya{bottom:521.904667pt;}
.y8{bottom:559.310000pt;}
.y6{bottom:576.765867pt;}
.y5{bottom:594.221600pt;}
.y3{bottom:610.846267pt;}
.y1{bottom:627.470800pt;}
.h4{height:15.957867pt;}
.h2{height:15.958000pt;}
.h6{height:16.789067pt;}
.h7{height:16.789200pt;}
.h3{height:33.930000pt;}
.ha{height:33.954375pt;}
.h5{height:35.831250pt;}
.h8{height:36.738667pt;}
.h9{height:43.065000pt;}
.h1{height:586.000000pt;}
.h0{height:681.557467pt;}
.we{width:20.584667pt;}
.wb{width:21.470133pt;}
.w8{width:26.783067pt;}
.w13{width:48.034400pt;}
.w12{width:56.889067pt;}
.w11{width:79.026000pt;}
.wa{width:97.620933pt;}
.wf{width:99.391733pt;}
.w14{width:119.757733pt;}
.w7{width:127.726933pt;}
.wc{width:155.176667pt;}
.w4{width:169.344267pt;}
.w9{width:178.198933pt;}
.w2{width:184.397333pt;}
.w5{width:260.548133pt;}
.w10{width:282.684933pt;}
.w3{width:289.768667pt;}
.wd{width:319.874667pt;}
.w6{width:736.932800pt;}
.w1{width:738.666667pt;}
.w0{width:813.190000pt;}
.x2{left:2.180667pt;}
.xe{left:6.751867pt;}
.xa{left:9.065467pt;}
.x6{left:11.721867pt;}
.x0{left:37.333333pt;}
.xb{left:39.514533pt;}
.xd{left:94.412267pt;}
.x4{left:131.026000pt;}
.xc{left:144.968133pt;}
.x1{left:166.522267pt;}
.x7{left:193.972000pt;}
.x5{left:230.678533pt;}
.xf{left:236.474800pt;}
.x11{left:336.533200pt;}
.x10{left:351.586267pt;}
.x8{left:394.088933pt;}
.x9{left:492.376533pt;}
.x3{left:514.513333pt;}
}
