.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.855957;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:41.760000px;}
.fs1{font-size:53.280000px;}
.y2{bottom:3.280700px;}
.yd{bottom:3.280800px;}
.y8{bottom:4.000700px;}
.yf{bottom:4.201400px;}
.y6{bottom:4.201500px;}
.y1e{bottom:10.186300px;}
.y20{bottom:54.250100px;}
.y1f{bottom:68.061200px;}
.y0{bottom:68.500000px;}
.y1d{bottom:81.872300px;}
.y1c{bottom:164.738900px;}
.y1b{bottom:178.550000px;}
.y1a{bottom:206.172200px;}
.y19{bottom:247.605500px;}
.y18{bottom:261.416600px;}
.y17{bottom:275.227700px;}
.y16{bottom:289.038700px;}
.y15{bottom:302.849800px;}
.y14{bottom:316.660900px;}
.y13{bottom:330.472000px;}
.y12{bottom:344.283100px;}
.y11{bottom:358.094200px;}
.y10{bottom:371.905300px;}
.ye{bottom:400.218100px;}
.yc{bottom:428.530800px;}
.yb{bottom:442.341900px;}
.ya{bottom:456.153000px;}
.y9{bottom:469.964100px;}
.y7{bottom:483.775200px;}
.y5{bottom:515.540700px;}
.y4{bottom:530.042400px;}
.y3{bottom:543.853500px;}
.y1{bottom:557.664600px;}
.h9{height:13.311000px;}
.h2{height:13.311100px;}
.h8{height:14.001600px;}
.h5{height:14.001700px;}
.h6{height:16.763900px;}
.ha{height:27.122200px;}
.hb{height:28.322578px;}
.h3{height:28.383750px;}
.h4{height:29.974219px;}
.h7{height:36.213750px;}
.h1{height:500.000000px;}
.h0{height:625.225700px;}
.wb{width:5.627700px;}
.w8{width:14.819200px;}
.w13{width:23.244900px;}
.wf{width:26.308700px;}
.w12{width:46.989800px;}
.w17{width:48.521700px;}
.w10{width:72.266600px;}
.w9{width:73.798500px;}
.w14{width:76.862300px;}
.we{width:80.692100px;}
.w5{width:89.117700px;}
.w11{width:97.543300px;}
.wa{width:100.607200px;}
.w4{width:106.734800px;}
.w7{width:112.862600px;}
.w15{width:115.160500px;}
.wd{width:128.181800px;}
.wc{width:129.713800px;}
.w2{width:167.245900px;}
.w16{width:213.203800px;}
.w3{width:244.608200px;}
.w6{width:494.312300px;}
.w1{width:495.500000px;}
.w0{width:595.612200px;}
.x2{left:1.771300px;}
.xe{left:8.660800px;}
.xc{left:10.192600px;}
.xb{left:18.771900px;}
.x9{left:32.240800px;}
.x10{left:40.967100px;}
.x0{left:50.000000px;}
.x3{left:131.067900px;}
.x1{left:164.012600px;}
.x5{left:179.331800px;}
.xd{left:206.140500px;}
.x4{left:216.111400px;}
.x6{left:308.013600px;}
.xf{left:331.758500px;}
.x7{left:409.120800px;}
.x8{left:415.248500px;}
.xa{left:447.419000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:55.680000pt;}
.fs1{font-size:71.040000pt;}
.y2{bottom:4.374267pt;}
.yd{bottom:4.374400pt;}
.y8{bottom:5.334267pt;}
.yf{bottom:5.601867pt;}
.y6{bottom:5.602000pt;}
.y1e{bottom:13.581733pt;}
.y20{bottom:72.333467pt;}
.y1f{bottom:90.748267pt;}
.y0{bottom:91.333333pt;}
.y1d{bottom:109.163067pt;}
.y1c{bottom:219.651867pt;}
.y1b{bottom:238.066667pt;}
.y1a{bottom:274.896267pt;}
.y19{bottom:330.140667pt;}
.y18{bottom:348.555467pt;}
.y17{bottom:366.970267pt;}
.y16{bottom:385.384933pt;}
.y15{bottom:403.799733pt;}
.y14{bottom:422.214533pt;}
.y13{bottom:440.629333pt;}
.y12{bottom:459.044133pt;}
.y11{bottom:477.458933pt;}
.y10{bottom:495.873733pt;}
.ye{bottom:533.624133pt;}
.yc{bottom:571.374400pt;}
.yb{bottom:589.789200pt;}
.ya{bottom:608.204000pt;}
.y9{bottom:626.618800pt;}
.y7{bottom:645.033600pt;}
.y5{bottom:687.387600pt;}
.y4{bottom:706.723200pt;}
.y3{bottom:725.138000pt;}
.y1{bottom:743.552800pt;}
.h9{height:17.748000pt;}
.h2{height:17.748133pt;}
.h8{height:18.668800pt;}
.h5{height:18.668933pt;}
.h6{height:22.351867pt;}
.ha{height:36.162933pt;}
.hb{height:37.763437pt;}
.h3{height:37.845000pt;}
.h4{height:39.965625pt;}
.h7{height:48.285000pt;}
.h1{height:666.666667pt;}
.h0{height:833.634267pt;}
.wb{width:7.503600pt;}
.w8{width:19.758933pt;}
.w13{width:30.993200pt;}
.wf{width:35.078267pt;}
.w12{width:62.653067pt;}
.w17{width:64.695600pt;}
.w10{width:96.355467pt;}
.w9{width:98.398000pt;}
.w14{width:102.483067pt;}
.we{width:107.589467pt;}
.w5{width:118.823600pt;}
.w11{width:130.057733pt;}
.wa{width:134.142933pt;}
.w4{width:142.313067pt;}
.w7{width:150.483467pt;}
.w15{width:153.547333pt;}
.wd{width:170.909067pt;}
.wc{width:172.951733pt;}
.w2{width:222.994533pt;}
.w16{width:284.271733pt;}
.w3{width:326.144267pt;}
.w6{width:659.083067pt;}
.w1{width:660.666667pt;}
.w0{width:794.149600pt;}
.x2{left:2.361733pt;}
.xe{left:11.547733pt;}
.xc{left:13.590133pt;}
.xb{left:25.029200pt;}
.x9{left:42.987733pt;}
.x10{left:54.622800pt;}
.x0{left:66.666667pt;}
.x3{left:174.757200pt;}
.x1{left:218.683467pt;}
.x5{left:239.109067pt;}
.xd{left:274.854000pt;}
.x4{left:288.148533pt;}
.x6{left:410.684800pt;}
.xf{left:442.344667pt;}
.x7{left:545.494400pt;}
.x8{left:553.664667pt;}
.xa{left:596.558667pt;}
}
