.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.855957;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:37.920000px;}
.fs1{font-size:61.920000px;}
.y2{bottom:2.953500px;}
.y4{bottom:2.953600px;}
.y7{bottom:3.787100px;}
.y1d{bottom:9.204800px;}
.y9{bottom:9.767100px;}
.y18{bottom:15.456200px;}
.y1f{bottom:28.596300px;}
.y1e{bottom:41.099000px;}
.y0{bottom:41.500000px;}
.y1c{bottom:53.601700px;}
.y1b{bottom:153.623200px;}
.y1a{bottom:166.125800px;}
.y19{bottom:191.131200px;}
.y17{bottom:203.633900px;}
.y16{bottom:241.142000px;}
.y15{bottom:353.666100px;}
.y14{bottom:366.168800px;}
.y13{bottom:378.671500px;}
.y12{bottom:391.174200px;}
.y11{bottom:416.179500px;}
.y10{bottom:428.682200px;}
.yf{bottom:441.184900px;}
.ye{bottom:453.687600px;}
.yd{bottom:466.190300px;}
.yc{bottom:478.693000px;}
.yb{bottom:491.195700px;}
.ya{bottom:503.698300px;}
.y8{bottom:528.703700px;}
.y6{bottom:571.837900px;}
.y5{bottom:584.965800px;}
.y3{bottom:597.468400px;}
.y1{bottom:609.971100px;}
.h5{height:12.002600px;}
.h2{height:12.002700px;}
.h6{height:12.627900px;}
.ha{height:24.505300px;}
.h9{height:24.505400px;}
.hb{height:25.718203px;}
.h4{height:27.217969px;}
.h3{height:27.532734px;}
.h7{height:29.506400px;}
.h8{height:44.958516px;}
.h1{height:578.500000px;}
.h0{height:650.570300px;}
.w7{width:11.287800px;}
.wb{width:43.877500px;}
.wf{width:59.825600px;}
.w6{width:88.255000px;}
.w11{width:97.269100px;}
.wc{width:106.976700px;}
.w4{width:118.764500px;}
.w12{width:163.142000px;}
.w2{width:174.236400px;}
.w10{width:207.519500px;}
.we{width:218.613900px;}
.wa{width:222.774200px;}
.w3{width:234.562000px;}
.w9{width:262.991400px;}
.wd{width:323.317000px;}
.w8{width:430.793700px;}
.w5{width:531.336500px;}
.w1{width:532.500000px;}
.w0{width:588.529400px;}
.x10{left:-7.862900px;}
.x2{left:1.674500px;}
.xb{left:16.276000px;}
.xd{left:19.536300px;}
.xe{left:25.108000px;}
.x0{left:28.000000px;}
.x8{left:72.974000px;}
.xc{left:81.587300px;}
.x9{left:87.361300px;}
.x1{left:117.351500px;}
.x5{left:129.139300px;}
.x4{left:156.529700px;}
.xa{left:292.087900px;}
.x6{left:352.413500px;}
.x11{left:396.791000px;}
.x3{left:441.168500px;}
.x7{left:452.956300px;}
.xf{left:462.663900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:50.560000pt;}
.fs1{font-size:82.560000pt;}
.y2{bottom:3.938000pt;}
.y4{bottom:3.938133pt;}
.y7{bottom:5.049467pt;}
.y1d{bottom:12.273067pt;}
.y9{bottom:13.022800pt;}
.y18{bottom:20.608267pt;}
.y1f{bottom:38.128400pt;}
.y1e{bottom:54.798667pt;}
.y0{bottom:55.333333pt;}
.y1c{bottom:71.468933pt;}
.y1b{bottom:204.830933pt;}
.y1a{bottom:221.501067pt;}
.y19{bottom:254.841600pt;}
.y17{bottom:271.511867pt;}
.y16{bottom:321.522667pt;}
.y15{bottom:471.554800pt;}
.y14{bottom:488.225067pt;}
.y13{bottom:504.895333pt;}
.y12{bottom:521.565600pt;}
.y11{bottom:554.906000pt;}
.y10{bottom:571.576267pt;}
.yf{bottom:588.246533pt;}
.ye{bottom:604.916800pt;}
.yd{bottom:621.587067pt;}
.yc{bottom:638.257333pt;}
.yb{bottom:654.927600pt;}
.ya{bottom:671.597733pt;}
.y8{bottom:704.938267pt;}
.y6{bottom:762.450533pt;}
.y5{bottom:779.954400pt;}
.y3{bottom:796.624533pt;}
.y1{bottom:813.294800pt;}
.h5{height:16.003467pt;}
.h2{height:16.003600pt;}
.h6{height:16.837200pt;}
.ha{height:32.673733pt;}
.h9{height:32.673867pt;}
.hb{height:34.290937pt;}
.h4{height:36.290625pt;}
.h3{height:36.710313pt;}
.h7{height:39.341867pt;}
.h8{height:59.944688pt;}
.h1{height:771.333333pt;}
.h0{height:867.427067pt;}
.w7{width:15.050400pt;}
.wb{width:58.503333pt;}
.wf{width:79.767467pt;}
.w6{width:117.673333pt;}
.w11{width:129.692133pt;}
.wc{width:142.635600pt;}
.w4{width:158.352667pt;}
.w12{width:217.522667pt;}
.w2{width:232.315200pt;}
.w10{width:276.692667pt;}
.we{width:291.485200pt;}
.wa{width:297.032267pt;}
.w3{width:312.749333pt;}
.w9{width:350.655200pt;}
.wd{width:431.089333pt;}
.w8{width:574.391600pt;}
.w5{width:708.448667pt;}
.w1{width:710.000000pt;}
.w0{width:784.705867pt;}
.x10{left:-10.483867pt;}
.x2{left:2.232667pt;}
.xb{left:21.701333pt;}
.xd{left:26.048400pt;}
.xe{left:33.477333pt;}
.x0{left:37.333333pt;}
.x8{left:97.298667pt;}
.xc{left:108.783067pt;}
.x9{left:116.481733pt;}
.x1{left:156.468667pt;}
.x5{left:172.185733pt;}
.x4{left:208.706267pt;}
.xa{left:389.450533pt;}
.x6{left:469.884667pt;}
.x11{left:529.054667pt;}
.x3{left:588.224667pt;}
.x7{left:603.941733pt;}
.xf{left:616.885200pt;}
}
