.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.855957;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:41.280000px;}
.fs1{font-size:60.000000px;}
.y2{bottom:3.241000px;}
.y5{bottom:3.241100px;}
.y7{bottom:4.152100px;}
.y9{bottom:10.218900px;}
.y14{bottom:16.906700px;}
.y19{bottom:54.108400px;}
.y18{bottom:67.774100px;}
.y0{bottom:68.500000px;}
.y17{bottom:163.434100px;}
.y16{bottom:190.765600px;}
.y15{bottom:218.097000px;}
.y13{bottom:245.428400px;}
.y12{bottom:286.425500px;}
.y11{bottom:368.419800px;}
.y10{bottom:382.085500px;}
.yf{bottom:395.751300px;}
.ye{bottom:423.082700px;}
.yd{bottom:436.748400px;}
.yc{bottom:450.414200px;}
.yb{bottom:464.079900px;}
.ya{bottom:477.745600px;}
.y8{bottom:505.077100px;}
.y6{bottom:550.173900px;}
.y4{bottom:564.522900px;}
.y3{bottom:578.188700px;}
.y1{bottom:591.854400px;}
.h2{height:13.165700px;}
.h5{height:13.165800px;}
.h6{height:13.849000px;}
.h9{height:26.831400px;}
.ha{height:27.997031px;}
.h4{height:29.629687px;}
.h3{height:29.972344px;}
.h7{height:30.247800px;}
.h8{height:43.564453px;}
.h1{height:534.500000px;}
.h0{height:605.368500px;}
.w7{width:8.594800px;}
.wb{width:12.384300px;}
.wa{width:46.489800px;}
.we{width:48.005600px;}
.wd{width:63.163600px;}
.w6{width:96.511300px;}
.w9{width:166.996000px;}
.w2{width:176.090800px;}
.w4{width:216.259500px;}
.wf{width:224.596500px;}
.wc{width:233.691200px;}
.w3{width:239.754400px;}
.w11{width:246.575500px;}
.w10{width:263.249300px;}
.w8{width:477.735100px;}
.w5{width:583.841200px;}
.w1{width:584.500000px;}
.w0{width:584.538100px;}
.x0{left:0.000000px;}
.x2{left:1.760500px;}
.xc{left:8.399800px;}
.x9{left:16.648300px;}
.x10{left:18.014300px;}
.xf{left:21.387500px;}
.xa{left:48.854000px;}
.xb{left:88.408100px;}
.x1{left:97.359700px;}
.x5{left:106.454500px;}
.xe{left:107.487600px;}
.x11{left:132.498800px;}
.x4{left:173.535600px;}
.x6{left:273.950500px;}
.xd{left:320.940300px;}
.x7{left:337.614100px;}
.x8{left:350.498400px;}
.x3{left:367.930100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:55.040000pt;}
.fs1{font-size:80.000000pt;}
.y2{bottom:4.321333pt;}
.y5{bottom:4.321467pt;}
.y7{bottom:5.536133pt;}
.y9{bottom:13.625200pt;}
.y14{bottom:22.542267pt;}
.y19{bottom:72.144533pt;}
.y18{bottom:90.365467pt;}
.y0{bottom:91.333333pt;}
.y17{bottom:217.912133pt;}
.y16{bottom:254.354133pt;}
.y15{bottom:290.796000pt;}
.y13{bottom:327.237867pt;}
.y12{bottom:381.900667pt;}
.y11{bottom:491.226400pt;}
.y10{bottom:509.447333pt;}
.yf{bottom:527.668400pt;}
.ye{bottom:564.110267pt;}
.yd{bottom:582.331200pt;}
.yc{bottom:600.552267pt;}
.yb{bottom:618.773200pt;}
.ya{bottom:636.994133pt;}
.y8{bottom:673.436133pt;}
.y6{bottom:733.565200pt;}
.y4{bottom:752.697200pt;}
.y3{bottom:770.918267pt;}
.y1{bottom:789.139200pt;}
.h2{height:17.554267pt;}
.h5{height:17.554400pt;}
.h6{height:18.465333pt;}
.h9{height:35.775200pt;}
.ha{height:37.329375pt;}
.h4{height:39.506250pt;}
.h3{height:39.963125pt;}
.h7{height:40.330400pt;}
.h8{height:58.085938pt;}
.h1{height:712.666667pt;}
.h0{height:807.158000pt;}
.w7{width:11.459733pt;}
.wb{width:16.512400pt;}
.wa{width:61.986400pt;}
.we{width:64.007467pt;}
.wd{width:84.218133pt;}
.w6{width:128.681733pt;}
.w9{width:222.661333pt;}
.w2{width:234.787733pt;}
.w4{width:288.346000pt;}
.wf{width:299.462000pt;}
.wc{width:311.588267pt;}
.w3{width:319.672533pt;}
.w11{width:328.767333pt;}
.w10{width:350.999067pt;}
.w8{width:636.980133pt;}
.w5{width:778.454933pt;}
.w1{width:779.333333pt;}
.w0{width:779.384133pt;}
.x0{left:0.000000pt;}
.x2{left:2.347333pt;}
.xc{left:11.199733pt;}
.x9{left:22.197733pt;}
.x10{left:24.019067pt;}
.xf{left:28.516667pt;}
.xa{left:65.138667pt;}
.xb{left:117.877467pt;}
.x1{left:129.812933pt;}
.x5{left:141.939333pt;}
.xe{left:143.316800pt;}
.x11{left:176.665067pt;}
.x4{left:231.380800pt;}
.x6{left:365.267333pt;}
.xd{left:427.920400pt;}
.x7{left:450.152133pt;}
.x8{left:467.331200pt;}
.x3{left:490.573467pt;}
}
